@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;

}


.navbar .image {
  width: 100%;
  height: 14vh;
  background: url("./images/pexels-viktoria-alipatova-2074130.jpg");
  background-size: cover;
  background-position: center;
}

.payment {
  position: absolute;
  width: 70px;
  border-radius: 50%;
  top: 8vh;
  right: 10px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 15px;
  background: #ff3535;
  font-family: sans-serif;
  text-align: center;
  border: 2px solid #fff;
}
.navbar .title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  gap: 10px;
}

.navbar .title .sname {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* dishes */

.dishes {
  width: auto;
  height: auto;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding: 10px;

}
.dishes .dish{
  text-decoration: none;
  color: #000;
 padding: 10px 15px;
 border-radius: 10px;
  background: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dishes .active {
  color: rgb(247, 89, 41);
}

.cards {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards .card {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.card .images {
  width: 20%;
}

.card .images img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.card .content {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.card .content .title {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.1rem;
}
.card .content .para {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  width: 80%;
  line-height: 22px;
  overflow: hidden;
}
.card .prc {
  width: 20%;
}
.card .prc p {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(247, 89, 41);
  font-size: 1.5rem;
}

.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 22px;
  font-family: sans-serif;
  padding: 5px 0px;
}

.footer a {
  color: #d9ff00;
}

.details {
  height: 7vh;
  background: #ffffff;
  color: #000000;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 600;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-right: 20px;
}

.details a {
  color: #000000;
  font-weight: 400;
}


.review{
  padding: 0px 7px;
  height: 30px;
  text-decoration: none;
  background-color: #ffd901;
  border-radius: 5px;
  display: flex;
  align-items: center;
  
}
.rimg{
  height: 15px;
 
 
}

/* special dishes */
.spetial{
  width: 100%;
  height: auto;
  padding-left: 20px;

}
.spetial h1{
  font-size: 1.3rem;
}

.spetial .scards{
  width: 100%;
  height: auto;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;

}

.scards .scard{
  width: 130px;
  height: 200px;
  margin: 10px 0px;
margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
padding: 10px;
background: #ffffff;

}
.scard img{
  width: 100px;
  height: 120px;
}
.scard .sname{
  margin-top: 0.3rem;
  font-weight: 600;
}
.scard .sprice{
  margin-top: 0.3rem;
  font-weight: 600;
  color: forestgreen;
}

/* foodCards */
.foodCards{
  width: 100%;
  padding-left: 20px;
margin-top: 1rem;


}

.foodCards h1{
  font-size: 1.3rem
}
.foodCards .fcards{
  width: 100%;
  height: auto;
 

}
.fcards .fcard{
  margin-top: 0.5rem;
  padding: 10px;
  border-bottom: 2px solid #d6d6d6;
  display: flex;
  gap: 1rem;
  align-items: center;

}
.fcard img{
  width: 90px;
  height: 90px;
border-radius: 10px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.fcard .fcontent{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fcontent .fname{
  font-size: 1.4rem;
  font-weight: 600;
}

.fcontent .fprice{
  /* font-weight: 600; */
  color: forestgreen;
  font-size: 1.2rem;
}

/* menu setup */


.menuBtn{
  position: fixed;
  bottom: 9vh;
  right: 2vh;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: none;
  z-index: 92;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #d9ff00;
}
.whatsappBTN {
  position: absolute;

  
  background: rgb(59, 255, 59);
  border-radius: 50px;
  border: 0;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.whatsappBTN img {
  height: 35px;
  width: 35px;
}

.overlaymenu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 95;
  display: none;
width: 100%;
height: 100vh;

background: #00000080;

}
.omenu{
 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.subLayer{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.closeBtn{
position: absolute;
top: 10%;
right: 10%;
background: transparent;
border: none;

}

.closeBtn img{
  height: 30px;
}

.odish{
  text-decoration: none;
  color: #000;
 padding: 10px 15px;
 border-radius: 10px;
  background: #d8d5d5;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 600px) {
  .footer {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8d8d8d;
    color: #fff;
    text-align: center;
    line-height: 22px;
    font-family: sans-serif;
  }
  .navbar .image {
    height: 10vh;
  }
  .payment {
    top: 6vh;
  }

  .details {
    min-height: 5vh;
    height: auto;
    padding: 5px 10px;
  }
}


/* Custom scrollbar for WebKit browsers */
.dishes::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the draggable part of the scrollbar */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when the scrollbar is hovered */
}
